* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.header-container {
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 63px;
}

.header-container h1 {
  display: none;
}

.header-container .logo {
  margin-top: 14px;
}

.header-container .logo :hover {
  cursor: pointer;
}

.header-container .nav-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
  margin-top: 29px;
}

.header-container .nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.header-container .nav-bar ul li :hover {
  cursor: pointer;
  color: #E47209;
}

.header-container .nav-bar ul li :active {
  color: #F9804B;
}

.header-container .designed-by-btn {
  margin-top: 29px;
  margin-left: 150px;
}

.header-container .designed-by-btn a {
  text-decoration: none;
  color: #ffffff;
}

.header-container .designed-by-btn :hover {
  cursor: pointer;
  color: #E47209;
}

.header-container .designed-by-btn :active {
  color: #F9804B;
}

main {
  width: 100%;
}

.watch-online {
  width: 100vw;
  height: 780px;
  background-image: url("../../assets/images/Giant-Panda.png");
  position: absolute;
  top: 10px;
  z-index: -1;
}

.watch-online .watch-online-container {
  width: 1160px;
}

.watch-online .watch-online-container .watch-online-circle {
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  position: absolute;
  top: 92px;
  left: calc(50% - 465px/2 + 239.5px);
}

.watch-online .watch-online-container .watch-online-text {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: calc(50% - 500.31px/2 + 330.15px);
  top: 166px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  /* or 80px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.watch-online .watch-online-container .watch-online-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 106.5px;
  line-height: 75%;
  color: #ffffff;
  text-transform: uppercase;
}

.watch-online .watch-online-container .watch-online-text span {
  color: #FFEE2E;
  text-transform: uppercase;
}

.watch-online .watch-online-container .watch-online-text button.watch {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
  border: none;
}

button.watch :hover {
  cursor: pointer;
  background: #E47209;
}

button.watch :active {
  background: #4B9200;
}

button.watch :disabled {
  background: #767474;
}

.choose-fav {
  position: relative;
  top: 710px;
  background-color: #FFFFFF;
  width: 100vw;
}

.choose-fav .choose-fav-container {
  width: 1160px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  position: relative;
}

.choose-fav .choose-fav-container .backstage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 87px;
}

.choose-fav .choose-fav-container .backstage figure img {
  width: 609px;
  height: 403px;
  margin-top: 140px;
}

.choose-fav .choose-fav-container .backstage aside {
  margin-top: 140px;
  width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 54px;
  font-family: 'Roboto', sans-serif;
  color: #333B41;
  font-weight: 400;
}

.choose-fav .choose-fav-container .backstage aside .big-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.choose-fav .choose-fav-container .backstage aside .big-heading h2 {
  font-size: 48px;
  line-height: 120%;
}

.choose-fav .choose-fav-container .backstage aside .big-heading p {
  font-size: 16px;
  line-height: 130%;
}

.choose-fav .choose-fav-container .backstage aside .how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}

.choose-fav .choose-fav-container .backstage aside .how-it-works h5 {
  font-size: 24px;
  line-height: 120%;
}

.choose-fav .choose-fav-container .backstage aside .how-it-works p {
  font-size: 16px;
  line-height: 140%;
}

.choose-fav .bg-flower-1 {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  float: right;
  right: 0;
}

.choose-fav .bg-flower-2 {
  background-image: url("../../assets/images/palm_foto.png");
  position: absolute;
  width: 880px;
  height: 460px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  left: 0;
  top: 1420px;
}

.choose-fav .bg-flower-3 {
  background-image: url("../../assets/images/strelitzia.png");
  position: absolute;
  width: 368px;
  height: 275px;
  background-repeat: no-repeat;
  display: block;
  float: right;
  right: 0;
  top: 1600px;
}

.arrow-btns {
  width: 100%;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1130px;
  padding-left: 58px;
  padding-right: 58px;
}

.arrow-btns button {
  border: none;
  color: #FFFFFF;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.arrow-btns button img {
  outline: none;
  color: #FFFFFF;
}

.arrow-btns button:hover {
  cursor: pointer;
  background: #4B9200;
  width: 62px;
  height: 62px;
}

.arrow-btns .arrow {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.slider .slider-container {
  width: 100%;
  margin-top: 180px;
}

.slider .slider-container .imgs {
  width: 1164px;
  height: 872px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.slider .slider-container .imgs figure {
  border-radius: 5px;
  border: 1px solid #FA6F32;
  width: 368px;
  height: 426px;
}

.slider .slider-container .imgs figure .imgs-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 15px;
}

.slider .slider-container .imgs figure .imgs-description .text h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.slider .slider-container .imgs figure .imgs-description .text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

.slider .slider-container .imgs :hover {
  -webkit-box-shadow: -3px -2px 1px #f6fcd0;
          box-shadow: -3px -2px 1px #f6fcd0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.slider .slider-container .choose-fav-btn {
  margin: 0 auto;
  margin-top: 80px;
  width: 298px;
}

.slider .slider-container .choose-fav-btn button {
  background: #FE9013;
  border-radius: 25px;
  width: 298px;
  height: 54px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 140%;
  font-weight: 500;
  color: #FFFFFF;
}

.slider .slider-container .choose-fav-btn :hover {
  cursor: pointer;
  background: #E47209;
}

.slider .slider-container .choose-fav-btn :active {
  background: #4B9200;
}

.slider .slider-container .choose-fav-btn :disabled {
  background: #767474;
}

.feed-friend {
  position: relative;
  top: 855px;
  width: 100vw;
  height: 1004px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
}

.feed-friend .feed-friend-container {
  width: 1160px;
  height: 835px;
  margin: 0 auto;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding-top: 41px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed-friend .pick-feed-description {
  margin: 0 auto;
}

.feed-friend .pick-feed-description a {
  -webkit-text-decoration-color: #fe9013;
          text-decoration-color: #fe9013;
  color: #333b41;
}

.feed-friend .pick-feed-description h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: center;
  color: #FE9013;
}

.feed-friend .pick-feed-description h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #333B41;
  margin-top: 30px;
  margin-bottom: 40px;
}

.feed-friend .pick-feed-description p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #333B41;
  width: 1061px;
  margin-bottom: 10px;
}

.feed-friend .pick-feed-description .para {
  width: 863px;
  font-weight: 400;
}

.feed-friend .how-it-works {
  width: 764px;
}

.feed-friend .how-it-works h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  color: #333B41;
  margin-bottom: 40px;
  text-align: center;
}

.feed-friend .how-it-works .steps {
  width: 100%;
}

.feed-friend .how-it-works .steps .vektor {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  top: 470px;
  left: 400px;
  gap: 220px;
}

.feed-friend .how-it-works .steps .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 130px;
}

.feed-friend .how-it-works .steps .cards .img-card {
  width: 168px;
  height: 168px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #F9804B;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 30px;
  text-align: center;
  /* align-self: center; */
  padding-top: 50px;
}

.feed-friend .how-it-works .steps .cards figure {
  width: 168px;
  max-height: 244px;
}

.feed-friend .how-it-works .steps .cards figure figcaption {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.feed-friend .feed-friend-btn button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
}

.feed-friend .feed-friend-btn :hover {
  cursor: pointer;
  background: #E47209;
}

.feed-friend .feed-friend-btn :active {
  background: #4B9200;
}

.feed-friend .feed-friend-btn :disabled {
  background: #767474;
}

.feedback {
  width: 100vw;
  height: 919px;
  background-color: #FFFFFF;
  position: relative;
  top: 855px;
}

.feedback .feedback-container {
  width: 1160px;
  height: 575px;
  margin: 0 auto;
  margin-top: 140px;
}

.feedback .feedback-container h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  text-align: center;
  color: #333B41;
}

.feedback .feedback-container .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 47px;
}

.feedback .feedback-container .person::before {
  content: "";
  background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 20px;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  position: absolute;
  z-index: -200;
}

.feedback .feedback-container .person {
  position: relative;
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  overflow: hidden;
  padding: 3px 3px;
  z-index: 1000;
}

.feedback .feedback-container .person .person-container {
  height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  background: #F1F3F2;
  padding: 15px;
}

.feedback .feedback-container .person .person-container .person-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 237px;
}

.feedback .feedback-container .person .person-container .person-heading figure {
  height: 10px;
}

.feedback .feedback-container .person .person-container .person-heading aside h6 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  color: #000000;
}

.feedback .feedback-container .person .person-container .person-heading aside p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  /* identical to box height, or 18px */
  /* Gray 4 */
  color: #BDBDBD;
}

.feedback .feedback-container .person .person-container .person-review {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  /* or 18px */
  /* gray */
  color: #767474;
  overflow: hidden;
  width: 237px;
}

.feedback .feedback-container .feedback-btn button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.feedback .feedback-container .feedback-btn :hover {
  cursor: pointer;
  background: #E47209;
}

.feedback .feedback-container .feedback-btn :active {
  background: #4B9200;
}

.feedback .feedback-container .feedback-btn :disabled {
  background: #767474;
}

.feedback .leave-pic {
  position: absolute;
  display: block;
  float: right;
  right: 0;
  bottom: 0;
}

.feedback .scrollbar {
  width: 599px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 32px;
}

.feedback .scrollbar input {
  border: none;
}

.feedback .scrollbar input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 599px;
  height: 8px;
  display: block;
  margin: 0 auto;
  background-color: #f1f3f2;
  border-radius: 5px;
  overflow-y: hidden;
  color: #000000;
}

.feedback .scrollbar input[type=range]::-webkit-slider-thumb {
  background: #FE9013;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 115px;
  height: 6px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  width: 100vw;
  height: 443px;
  top: 855px;
  background: #111115;
  position: relative;
}

footer .footer-container {
  width: 1160px;
  margin: 0 auto;
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-container .subscribe-btn {
  width: 368px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #FFFFFF;
}

footer .footer-container .subscribe-btn form {
  margin-top: 40px;
}

footer .footer-container .subscribe-btn form button :hover {
  cursor: pointer;
}

footer .footer-container .subscribe-btn input {
  border: 0.7px solid #f9804b;
  width: 228px;
  height: 42px;
  border-radius: 2px;
  background: transparent;
  padding: 10px;
  margin-top: 14px;
  margin-right: 5px;
}

footer .footer-container .subscribe-btn button {
  background: #F1F3F2;
  /* Green */
  border: 1px solid #4B9200;
  border-radius: 5px;
  width: 129px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
}

footer .footer-container .donate-btn {
  margin-top: 68px;
}

footer .footer-container .donate-btn :hover {
  cursor: pointer;
  background: #E47209;
}

footer .footer-container .donate-btn :active {
  background: #4B9200;
}

footer .footer-container .donate-btn :disabled {
  background: #767474;
}

footer .footer-container .donate-btn button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer .footer-container .social-media-links {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
  margin-top: 284px;
  position: absolute;
}

footer .footer-container .social-media-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer .footer-container .social-media-links ul :hover {
  color: #4B9200;
  cursor: pointer;
}

footer .footer-container .social-media-links ul :active {
  color: #4B9200;
}

footer .footer-container .social-media-links ul li {
  list-style-type: none;
}

footer .footer-container .social-media-links ul li .icon {
  border-radius: 50%;
  border: none;
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 4px;
}

footer .footer-container .social-media-links ul li a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

footer .footer-container .social-media-links ul li a :hover {
  background-color: #4B9200;
  cursor: pointer;
}

footer .footer-container .social-media-links ul li a :active {
  color: #4B9200;
}

footer .footer-container .footer-menu {
  width: 362px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 270px;
  margin-left: 30px;
  color: white;
}

footer .footer-container .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 58px;
}

footer .footer-container .footer-menu ul :hover {
  color: #f9804b;
}

footer .footer-container .footer-menu ul :active {
  color: #f9804b;
}

footer .footer-container .footer-menu ul li {
  list-style: none;
}

footer .footer-container .footer-menu ul li a {
  text-decoration: none;
  list-style: none;
  color: white;
}

footer .footer-container .authorship-info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  margin-top: 250px;
  margin-left: 170px;
}

footer .footer-container .authorship-info a {
  text-decoration: none;
  color: #FFFFFF;
}

footer .footer-container .authorship-info :hover {
  color: #4B9200;
  text-decoration: underline;
}

footer .footer-container .logo {
  margin-top: 41px;
  margin-right: 708px;
}
/*# sourceMappingURL=style.css.map */
